@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'M900';
	src: url('./assets/fonts/mulish/Mulish-Black.ttf');
}

@font-face {
	font-family: 'M500';
	src: url('./assets/fonts/mulish/Mulish-Medium.ttf');
}

@font-face {
	font-family: 'RHD800';
	src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-ExtraBold.ttf');
}

@font-face {
	font-family: 'RHD700';
	src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-ExtraBold.ttf');
}

@font-face {
	font-family: 'RHD600';
	src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-SemiBold.ttf');
}

@font-face {
	font-family: 'RHD400';
	src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.ttf');
}

html {
	scroll-padding-top: 100px; /* Adjust the value according to your header height */
}
